<!-- partial for search results to bo included in car-search.handlebars -->
<div class="tile is-parent box">
  <!-- image -->
  <div class="tile is-child">
    <figure class="image is-128x128">
      <img src="https://bulma.io/images/placeholders/128x128.png">
    </figure>
  </div>
  <div class="tile is-child is-1"></div>
<h1>Add A Car</h1>
  <!-- info -->
  <div class="tile is-child is-9">
    <h2 class="title is-4">{{make.make_name}}</h2>
    <p><strong>Color:</strong> {{color.color_name}}</p>
    <p><strong>Year:</strong> {{year.make_year}}</p>
  </div>
</div>