<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project 2 Group 5</title>
  <!-- BULMA Framework -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <!-- custom css -->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <!-- symbols -->
  <script src="https://kit.fontawesome.com/881c4ac903.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <!-- header -->
    <header>
      <!-- navbar links -->
      <nav class="navbar">
        <div class="container">
          <div id="navMenu" class="navbar-menu">
            <div class="navbar-start">
              <a href="/" class="navbar-item">
                Home
              </a>
            </div>

    {{#if loggedIn}}
            <!-- button is LOGOUT -->
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a id="logout" class="button is-link">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- hero is smaller -->
      <section class="hero is-medium is-dark">
        <div class="hero-body">
          <p class="title">
            Project 2
          </p>
          <p class="subtitle">
            Group 5
          </p>
        </div>
      </section>
    </header>
    {{else}}
            <!-- button is LOGIN -->
            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a href="/login" class="button is-link">Login</a>
            
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <!-- hero is bigger -->
      <section class="hero is-large is-dark">
        <div class="hero-body">
          <p class="title">
            Project 2
          </p>
          <p class="subtitle">
            Group 5
          </p>
        </div>
      </section>
    </header>
    {{/if}}

    <!-- main body content -->
    <main id="body" class="section">
      <div class="container column is-8">{{{ body }}}</div>
    </main>
    <div class="spacer"></div>

    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <p><strong>Project 2</strong> by <a href="https://github.com/mikekhoury135/Project_2_Group_5"><strong>Group 5</strong></a></p>
      </div>
    </footer>
  </div>

  {{#if loggedIn}}
  <!-- for when button is LOGOUT -->
  <script src="/js/logout.js"></script>
  {{/if}}

  <!-- temporary modal script (taken from BULMA Documentation) -->
  <script src="/javascript/modal-temp.js"></script>

</body>

</html>