<!-- Database Category Selection -->
<section id="db-selection">
  <div class="buttons are-medium">

    <!-- actual code -->
    {{!--
    {{#each Category}}
    <div class="section">
      <button type="button" id="{{lowercase categoryName}}-db" class="button is-rounded is-fullwidth btn-style">{{uppercase categoryName}}</button>
    </div>
    {{/each}}
    --}}

    <!-- Placeholder for testing START -->
    <div class="section">
      <a href="/dashboard" type="button" id="cars-db" class="button is-rounded is-fullwidth btn-style">CARS</a>
    </div>
    <div class="section">
      <button type="button" id="food-db" class="button is-rounded is-fullwidth btn-style">FOOD</button>
    </div>
    <div class="section">
      <button type="button" id="electronics-db" class="button is-rounded is-fullwidth btn-style">ELECTRONICS</button>
    </div>
    <div class="section">
      <button type="button" id="fashion-db" class="button is-rounded is-fullwidth btn-style">FASHION &#38; JEWELRY</button>
    </div>
    <div class="section">
      <button type="button" id="general-db" class="button is-rounded is-fullwidth btn-style">GENERAL</button>
    </div>
    <!-- Placeholder for testing END -->

  </div>
</section>