<section>
  <div class="buttons are-medium">
    <button id="cars-db" class="button is-rounded is-fullwidth btn-style">CARS</button>
    <button id="food-db" class="button is-rounded is-fullwidth btn-style">FOOD</button>
    <button id="electronics-db" class="button is-rounded is-fullwidth btn-style">ELECTRONICS</button>
    <button id="fashion-db" class="button is-rounded is-fullwidth btn-style">FASHION &#38; JEWELRY</button>
    <button id="general-db" class="button is-rounded is-fullwidth btn-style">GENERAL</button>
  </div>
</section>