<section id="db-selection">
  <div class="buttons are-medium">
    <div class="section">
      <button type="button" id="cars-db" class="button is-rounded is-fullwidth btn-style">CARS</button>
    </div>
    <div class="section">
      <button type="button" id="food-db" class="button is-rounded is-fullwidth btn-style">FOOD</button>
    </div>
    <div class="section">
      <button type="button" id="electronics-db" class="button is-rounded is-fullwidth btn-style">ELECTRONICS</button>
    </div>
    <div class="section">
      <button type="button" id="fashion-db" class="button is-rounded is-fullwidth btn-style">FASHION &#38; JEWELRY</button>
    </div>
    <div class="section">
      <button type="button" id="general-db" class="button is-rounded is-fullwidth btn-style">GENERAL</button>
    </div>
  </div>
</section>