<div class="flex-row_container">
  <div class="column"></div>
  <div class="column">
    <form class="section login-form">
      <div id="login-div">
        <div>
          <label for="email-login">email:</label>
          <input type="text" id="email-login" />
        </div>
        <div>
          <label for="password-login">password:</label>
          <input type="password" id="password-login" />
        </div>
        <div>
          <button type="submit" class="button is-rounded is-small is-link is-inverted">login</button>
        </div>
      </div>
    </form>

    <form class="section signup-form">
      <div id="signup-div">
        <div>
          <label for="username-signup">username:</label>
          <input type="text" id="username-signup" />
        </div>
        <div>
          <label for="email-signup">email:</label>
          <input type="text" id="email-signup" />
        </div>
        <div>
          <label for="password-signup">password:</label>
          <input type="password" id="password-signup" />
        </div>
        <div>
          <button type="submit" class="button is-rounded is-small is-link is-inverted">signup</button>
        </div>
      </div>
    </form>
  </div>
  <div class="column"></div>
</div>

<script src="/javascript/login.js"></script>